* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.markdown-content ul,
.markdown-content ol {
    padding-left: 20px;
    margin: 0;
}

.markdown-content li {
    margin-bottom: 8px;
}
